* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px;
    border: solid white 10px;

}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
